# LangSmith Tracing (Indispensable pour débugger les agents)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="votre_cle_langsmith"
LANGCHAIN_PROJECT="deep-agent-medium-writer"

# Provider Directs
OPENAI_API_KEY="sk-..."
ANTHROPIC_API_KEY="sk-ant-..."
GOOGLE_API_KEY="AIzaSy..."
DEEPSEEK_API_KEY="sk-..."

PROVIDER = "openrouter" # openai, anthropic, google, deepseek, openrouter

# OpenRouter (Agnostique)
OPENROUTER_API_KEY="sk-or-v1-..."

# Recherche
TAVILY_API_KEY="tvly-..."